<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Daily Challenge: Build A Lesson Page</title>
</head>

<body>
    <h1>Lesson Page</h1>
    <p>For the lesson page follow <a href="{{ url_for('lesson') }}" target="blank">this link</a></p>
    <p>For the exercise page follow <a href="{{ url_for('exercise') }}" target="blank">this link</a></p>


</body>

</html>