{% extends "index.html" %}
{% block title %}{{ pokemons }}{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}
{% block body %}

<body>
    {% block body %}
    <H1>The great Pokemon Encyclopedia</H1>
    <div class="card">
        <h3>Pokemon By Types</h3>
        <ul class="list-group">
            {% for pokemon in pokemons %}
            <li class="list-group-item"><a
                    href="{{url_for('pokemon_by_type', type=pokemon['name'])}}">{{pokemon['name']}}</a></li>
        </ul>
        {% endfor %}
        {% endblock %}
</body>

</html>