{% extends "base.html" %}
{% block title %}CV Personal Info{% endblock %}
{% block head %}
{{ super() }}
{% endblock %}

{% block content %}
<H4>Personal Information</H4>
<div class="cv-creator">
    <form class="personal-info" method="POST" action="{{ url_for('personalInfo') }}">
        {{ form.hidden_tag() }}
        <div class="row">
            <h6>Name</h6>
            <div class="col">
                {{ form.firstName(class="form-control", id="fistName", placeholder="First name") }}
            </div>
            <div class="col">
                {{ form.lastName(class="form-control", id="lastName", placeholder="Last name") }}
            </div>
        </div>
        <br>
        <div class="row">
            <h6>Birthday</h6>
            <div class="col">
                {{ form.birthDay(class="form-control", id="birthDay", placeholder="Day") }}
            </div>
            <div class="col">
                {{ form.birthMonth(class="form-control", id="birthMonth", placeholder="Month") }}
            </div>
            <div class="col">
                {{ form.birthYear(class="form-control", id="birthYear", placeholder="Year") }}
            </div>
        </div>
        <br>
        <div class="row">
            <h6>Current title and contact info</h6>
            <div class="col">
                {{ form.description(class="form-control", id="description", placeholder="Title") }}
            </div>
            <div class="col">
                {{ form.email(class="form-control", id="email", placeholder="Email address") }}
            </div>
            <div class="col">
                {{ form.phone(class="form-control", id="phone", placeholder="Phone") }}
            </div>
        </div>
        <br>
        <div class="row">
            <h6>Address</h6>
            <div class="col">
                {{ form.address(class="form-control", id="address", placeholder="Address") }}
            </div>
            <div class="col">
                {{ form.city(class="form-control", id="city", placeholder="City") }}
            </div>
            <div class="col">
                {{ form.zip(class="form-control", id="zip", placeholder="Zip") }}
            </div>
            <div class="col">
                {{ form.country(class="form-control", id="country", placeholder="Country") }}
            </div>
        </div>
        <br>
        <div class="col-12">
            {{ form.submit(class="btn btn-primary") }}
        </div>
    </form>
</div>
{% endblock %}